html, body {
    margin: 0;
    padding: 0;
}
html {
    background-color: black;
}
body {
    font-size: 10px;
}

/* Font Display */
h1, h2, p {
    text-align: center;
}

h1, h2 {
    font-family: 'Righteous', cursive;
    color: white;
}
h1{
    font-size: 5em;
}
h2 {
    font-size: 2em;
}

p {
    font-family: 'Space Mono', monospace;
    color: #008000;
    font-size: 4em;
}